footer.footer-container{
  width: 100%;
  /* background-color: #252B42; */
  /* padding: 0 2em; */
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0; */
}

footer.footer-container > .footer-top-container{
  background-color: #252B42;
}

footer.footer-container > .footer-top-container > .footer-top{
  max-width: 1200px;
  color: white;

  display: flex;
  justify-content: space-between;
  padding: 4em 3em;
  gap: 2em;
  align-items: center;
  margin: 0 auto;
}

.footer-top > .left > h2{
  font-size: 48px;
  margin: 0.2em 0;
}

.footer-top > .right > form{
  display: flex;
  flex-flow: row;
  height: 60px;
}

.footer-top > .right > form > input{
  padding: 1em;
  border-radius: 5px 0 0 5px;
  border: none;
}

.footer-top > .right > form > button{
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #23A6F0;
  color: white;
  padding: 0 1em;
}



/*===============*/
/* Footer Bottom */
/*===============*/
section.footer-bottom{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em 3em 6em;
  max-width: 1200px;
  margin: 0 auto;
}

section.footer-bottom > .block > ul{
  list-style: none;
  color: white;
  padding-left: 0;
}

.block > ul > li{
  padding: 0.5em 0;
}

.block > ul > li > a{
  color: grey;
  text-decoration: none;
  font-size: 0.9em;
}

.block > div.icons-container > img{
  margin-right: 0.7em;
  height: 25px;
}


/*=====================*/
/* Attribution Section */
/*=====================*/
section.attribution{
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em;
  font-size: 0.9em;
}

section.attribution > p, section.attribution > p > a{
  /* text-decoration: none; */
  color: gray;
}

/* section.attribution > p:nth-of-type(3)::before{
  content: url(../../assets/stethoscope.svg);
  color: grey;
} */


/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media screen and (max-width: 700px){
  footer.footer-container > ul{
    font-size: 0.8em;
  }

  section.footer-bottom{
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  footer.footer-container > .footer-top-container > .footer-top{
    text-align: center;
    flex-flow: column;
  }
}
