/*======================*/
/* Reset Default Styles */
/*======================*/

@font-face {
  font-family: Montserat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

*{
  scroll-behavior: smooth;
  font-family: Montserat !important;
}

.App{
  padding: 0;
  margin: 0;
}

/*=================*/
/* Utility Classes */
/*=================*/
.shed-margin-padding{
  padding: 0;
  margin: 0;
}

.bold{
  font-weight: bold;
}

.not-bold{
  font-weight: normal;
}

.hidden{
  display: none !important;
}

.centralize-text{
  text-align: center;
}